<a href="https://colab.research.google.com/github/djacobsen04/In-Class-Assignment/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Shape Area Calculator

In [47]:
pi = 3.14
radius = 3
height = 10

SA = 2*pi*radius**2 + 2*pi*radius*height
print(SA)

244.92000000000002

2.Rock-Paper-Scissors(While Loop)

In [46]:
import random
choice = input("Do you want to play rock, paper, scissors? (y/n)")
if choice == "n":
    print("Goodbye")

while choice == "y":
  p1 = input("Player 1, please choose rock, paper, or scissors: ")
  p2 = random.choice(["rock", "paper", "scissors"])
  print(f'computer chose {p2}')

  if p1 == p2:
    print("It's a tie!")
  elif  ((p1 == "rock" and p2 == "scissors") or (p1 == "paper" and p2 == "rock") or (p1 == "scissors" and p2 == "paper")):
    print("Player 1 wins!")
  else:
    print("Computer wins!")
  break

Do you want to play rock, paper, scissors? (y/n)n
Goodbye

3. Numerical Calculator

In [45]:
print("Enter numbers into the calculator")
n1 = float(input("n1 = "))
symbol = str(input("symbol (+, -, *, /, **): "))
n2 = float(input("n2 = "))

if symbol == "+":
  print(n1+n2)
elif symbol == "-":
  print(n1-n2)
elif symbol == "*":
  print(n1*n2)
elif symbol == "/":
  print(n1/n2)
elif symbol == "**":
  print(n1**n2)
else:
  print("Invalid symbol")

Enter numbers into the calculator
n1 = 6
symbol (+, -, *, /, **): +
n2 = 9
15.0

4. Parking Garage

In [44]:
   flatRate = 5
   hourlyRate = 2.5

   for hour in range(1,9,1):
    charge = flatRate + hourlyRate * hour
    if charge<10:
      charge=10.0
    elif charge > 20:
        charge=20.0
    print(hour,charge)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

5. Movie Theatre

In [43]:
  for ad in range(0,201,25):
    additional = 2 * (ad**0.5)
    profit = (20+additional)*10-200-ad
    print(ad,profit)

0 0.0
25 75.0
50 91.42135623730951
75 98.20508075688781
100 100.0
125 98.60679774997897
150 94.94897427831779
175 89.57513110645903
200 82.84271247461902

6. Months2Numbers Dictionary

In [42]:
   months = {}

   names = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
   numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

   for i in range(len(names)):
    months[numbers[i]] = names[i]
   months

{1: 'January',
 2: 'February',
 3: 'March',
 4: 'April',
 5: 'May',
 6: 'June',
 7: 'July',
 8: 'August',
 9: 'September',
 10: 'October',
 11: 'November',
 12: 'December'}

7.Parking Garage( Fee Calc and Display)

In [41]:
  def displayFee(fee):
    print(fee)

  def calcFee(hours, decimals=2):
    fee = 5 + hours * 2.5
    return fee

  hours_parked = int(input("Enter hours parked: "))
  fee = calcFee(hours_parked)
  displayFee(fee)

Enter hours parked: 6
20.0

8.Reverse Function(Recursion)

In [40]:
def rev(s):
  if len(s) == 1:
    return s
  else:
    return rev(s[1:]) + s[0]
rev("Monday")

'yadnoM'

9. Student Class

In [39]:
   class student:
    def __init__(self, name, number):
        self.name = name
        self.number = number
    def __str__(self):
        return f"Name: {self.name}."
   s1 = student("James Bond", "007")
   s2 = student("Clark Kent", "333")

   print(s1)

Name: James Bond.